@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@font-face {
	font-family: univers;
	src: url(../fonte/univers-75-black-oblique.otf);
}

html {font-size: 16px; line-height: 1.4; font-family: MuseoSans,Arial,sans-serif;}

body {display: block; margin: auto 0; background-color: white;}

a {display: inline-block; padding: 0.4em 0; font-size: 0.875rem; font-style: normal; font-weight: bold; text-transform: uppercase; text-decoration: none; color: white; opacity: 0.8;}

p {margin-bottom: 10px; padding-top: 0.4em; color: #5B5B5B;}

h1 {margin: auto 0; padding-top: 0.4em; color: #5B5B5B}

hr {width: 90%; margin: 10px 5% 10px 5%; background-color: black;}

/* header */

.navheader {
    width: 100%;
    float: left;
    background-color: hsl(163,59%,34%);
}

.info-name {
	width: 480px;
	height: 80px;
	float: left;
}

.info-name .msg {
	margin-top: 22px;
    float: left;
    margin-left: 20px;
	font-weight: bold;
    font-size: 1.5em;
	color: #e7e7e7;
	text-shadow: 1px 2px 3px rgb(80, 80, 80);
}

.logo {
    width: 200px;
    height: 40px;
    float: left;
    margin: 6px 0px 17.5px 20px;
	color: white;
	font-size: 3em;
	font-family: univers;
}

.container-login {
	width: 30%;
	float: left;
	margin-top: 60px;
	margin-left: 35%;
	border: 2px solid transparent;
	box-shadow: 1px 1px 5px rgb(156, 156, 156);
	border-radius: 10px;
}

.container-login .info-login {
	width: 100%;
	height: 40px;
	margin-top: 20px;
    text-align: center;
	color: #5B5B5B;
	font-weight: bold;
	font-size: 1.4em;
}

.container-login .area-login {
	width: 80%;
	float: left;
	margin-top: 20px;
	margin-left: 10%;
}

.area-login label {
	width: 90%;
	height: 30px;
	float: left;
	margin-top: 20px;
	margin-left: 5%;
    color: #5B5B5B;
	font-weight: bold;
}

.area-login input {
	width: 90%;
	height: 35px;
	float: left;
	margin-left: 5%;
    color: rgb(41, 41, 41);
	border: 0px;
	background-color: transparent;
	border-bottom: 2px solid rgb(104, 104, 104);
	outline: 0;
	font-size: 1.2em;
}

::placeholder {
	font-size: 0.9em;
}

.confirmar {
	width: 90%;
	height: 60px;
	float: left;
	margin-top: 10px;
	margin-left: 5%;
	margin-bottom: 25px;
}

.confirmar button {
	width: 100px;
	height: 40px;
	float: left;
	margin-top: 15px;
	font-size: 1em;
	border: 0px;
	border-radius: 5px;
	background-color: hsl(163,59%,34%);
    border-radius: 10px;
    border: 0.5px #5B5B5B;
    outline: 0;
	color: #e7e7e7;
	font-weight: bold;
}

.confirmar #msgErro {
	float: left;
	margin-top: 26px;
	margin-left: 10px;
	font-weight: bold;
	font-size: 0.8em;
	color: #e61919;
}

.confirmar button:hover {
	cursor: pointer;
	background-color: rgb(33, 121, 96);
}

/* Media screen */

@media only screen and (max-width: 375px) {

	.navheader {
		height: 70px;
	}

	.info-name {
		width: 100%;
		height: 70px;
	}

	.logo {
		width: 100%;
		margin-top: 15px;
		margin-left: 0px;
		font-size: 2em;
		text-align: center;
	}

	.container-login {
		width: 90%;
		margin-top: 80px;
		margin-left: 5%;
		box-shadow: 1px 1px 10px rgb(156 156 156);
	}

	.container-login .info-login {
		font-size: 1em;
	}

	.container-login .area-login {
		width: 80%;
		margin-left: 10%;
		margin-top: 0px;
	}

	.area-login label {
		font-size: 0.875em;
	}

	::placeholder {
		font-size: 0.8em;
	}

	.confirmar {
		margin-bottom: 20px;
	}

	.confirmar button {
		width: 90px;
		font-size: 0.9em;
		margin-left: 30%;
	}

	.confirmar #msgErro {
		margin-top: 50px;
		margin-left: 10%;
		font-size: 1em;
	}
}